/* Donate button component styles */

.donate-button {
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

.donate-button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
