/* Navbar styling */
.navbar {
    background-color: var(--burgundy) !important;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: var(--antique-gold) !important;
}

.navbar .navbar-brand {
    color: white !important;
    font-family: 'Great Vibes', cursive;
    color: var(--secondary-color)!important;
    font-size: large;
    
}
