/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* Global Variables */
:root {
  /* BRAND / PRIMARY COLORS */
  --color-primary: #7f0205;        /* Yuletide Crimson - Buttons background, CTA, view recipe, H1-H2, title*/
  --color-primary-dark: #5c0304;   /* Mulled Wine - Hover, Active ,footer*/
  --color-primary-accent: #b91f1c; /* Holly Berry Red - emphasized places, urgent donation, limited christmas recipee, campaign badges, progress bar highlights ...*/

  /* SECONDARY COLORS */
  --color-secondary: #1b3b1b;      /* Evergreen Fir - Big areas, recipe category section, donation info section, navbar(before scroll)*/
  --color-secondary-accent: #bf8950; /* Golden Bauble - Icons, divider lines, recipe rating stars, card borders */

  /* BACKGROUND & SURFACE */
  --color-background: #f1ca9f;     /* Winter Glow - Body Background, recipe detail page, form page*/
  --color-surface: #ffffff;

  /* BORDERS & DIVIDERS */
  --color-border: #bf8950;

  /* STATES */
  --color-success: #1b3b1b;
  --color-danger: #b91f1c;
  --color-hover: #5c0304;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Source Serif 4", serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
