:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --nav-height: 64px;
  --footer-height: 220px;
  --primary-color: #9a0a0a;
  --secondary-color: white;
  --hightlight-color: #118242;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: var(--nav-height);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  background-color: var(--primary-color)!important;
}

.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin-right: 1rem;
  color: var(--secondary-color)!important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: var(--secondary-color) !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: var(--hightlight-color)!important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  font-size: 1rem;
  width: 100%;
  margin-top: auto;
  background-color: var(--primary-color)!important;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

footer h4 {
    font-size: 1rem;
    padding: 0;
    margin-bottom: 0.75rem;
  color: var(--secondary-color);
}

footer p {
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    color: var(--secondary-color);
}


footer ul li {
    margin-bottom: 0.4rem;
}

footer ul li a {
    font-size: 0.85rem;
  color: var(--secondary-color) !important;
}

footer a:hover,
footer a:focus {
  color: var(--hightlight-color)!important;
}

.menu {
    padding: 0;
    display: flex;
    gap: 2rem;
}

.contact-us {
    padding: 0;
    display: flex;
    gap: 2rem;
}

.follow-us {
    padding: 0;
    display: flex;
    gap: 2rem;
}

.social-icons i {
    font-size: 1rem;
    margin-right: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
